sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:element name="article" >
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="front" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Text1"/>
              <xs:enumeration value="Text2"/>
              <xs:enumeration value="Text3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="body" minOccurs="1">
          <xs:complexType>
            <xs:choice>
              <xs:element name="title" type="xs:string" maxOccurs="1"/>
              <xs:element name="p" maxOccurs="unbounded"/>
              <xs:element name="graphic"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="back" type="xs:string" fixed="text"/>
      </xs:sequence>
      <xs:attribute name="article-type" type="xs:string" use="required" fixed="research-article"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
