JATS SRCE/schema1-simple.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import schemaLocation="schema0.xsd" namespace="http://www.w3.org/XML/1998/namespace"/>
  <xs:import schemaLocation="schema2.xsd" namespace="http://www.w3.org/1999/xlink"/>
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="front">
          <xs:complexType>
            <xs:sequence> </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence> </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="back" type="xs:string" default="text"/>
      </xs:sequence>
      <xs:attribute name="article-type" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
